@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");

@layer base {
  .addThesisForm input {
    @apply bg-inputBox  border-[1px] border-gray-500 rounded-lg py-3 px-2 mt-2;
  }
  .addThesisForm textarea {
    @apply bg-inputBox border-[1px] border-gray-500 rounded-lg py-3 px-2 mt-2;
  }
  .fileUpload {
    @apply mt-4;
  }
  .fileUpload input {
    @apply bg-transparent border-none rounded-lg py-3 px-2 mt-2;
  }
  .files {
    @apply border-none;
  }
}

.datatable-filter-demo .p-paginator .p-paginator-current {
  margin-left: auto;
}
.datatable-filter-demo .p-progressbar {
  height: 0.5rem;
  background-color: #d8dadc;
}
.datatable-filter-demo .p-progressbar .p-progressbar-value {
  background-color: #607d8b;
}
.datatable-filter-demo .p-datepicker {
  min-width: 25rem;
}
.datatable-filter-demo .p-datepicker td {
  font-weight: 400;
}
.datatable-filter-demo .p-datatable.p-datatable-customers .p-datatable-header {
  padding: 1rem;
  text-align: left;
  font-size: 1.5rem;
}
.datatable-filter-demo .p-datatable.p-datatable-customers .p-paginator {
  padding: 1rem;
}
.datatable-filter-demo
  .p-datatable.p-datatable-customers
  .p-datatable-thead
  > tr
  > th {
  text-align: left;
}
.datatable-filter-demo
  .p-datatable.p-datatable-customers
  .p-datatable-tbody
  > tr
  > td {
  cursor: auto;
}
.datatable-filter-demo
  .p-datatable.p-datatable-customers
  .p-dropdown-label:not(.p-placeholder) {
  text-transform: uppercase;
}
